<nav class="navbar navbar-static-top navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">

            <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--a class="navbar-brand" href="#/"></a-->
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'" ng-click="navCollapsed = true">

            <ul class="nav navbar-nav">
                <li><a href="#/user">Data from IdP</a></li>
                <li><a href="#/testrest">Datahub RP test</a></li>
            </ul>

            <form class="navbar-form navbar-right">
                <button ng-click="logout()" class="btn btn-info" ng-disabled="!isLoggedIn"><i class="fa fa-user fa-fw"></i> logout</button>
            </form>
        </div>
    </div>
</nav>
