
<div class="container">
    <div class="row justify-content-start">
        <div class="col-xs-6">
            <label class="col-md-2 control-label">User:</label>
            <div class="col-md-9">
                <p class="form-control-static">{{authinfo.subject}}</p>
                <p class="form-control-static">{{authinfo.idTokenParsed.given_name}} {{authinfo.idTokenParsed.family_name}}</p>
                <p class="form-control-static">{{authinfo.idTokenParsed.email}}</p>
            </div>
        </div>
    </div><br><br>

    <div class="row justify-content-between">

        <div class="col-xs-5">
            <label>id_token</label>
            <p style="word-wrap:break-word;font-size:11px;">
                {{authinfo.idToken}}
            </p>
        </div>
        <div class "col-xs-6">
            <label>Auth.idTokenParsed</label>
            <pre>{{authinfo.idTokenParsed | json}}</pre>
        </div>
    </div><br>

    <div class="row justify-content-between">

        <div class="col-xs-5">
            <label>access_token</label>
            <p style="word-wrap:break-word;font-size:11px;">
                {{authinfo.token}}
            </p>
        </div>
        <div class "col-xs-6">
            <label>Auth.tokenParsed</label>
            <pre>{{authinfo.tokenParsed | json}}</pre>
        </div>
    </div><br>

    <div class="row justify-content-between">
        <div class="col-xs-5">
            <label>refresh_token</label>
            <p style="word-wrap:break-word;font-size:11px;">
                {{authinfo.refreshToken}}
            </p>
        </div>
        <div class "col-xs-6">
            <label>Auth.refreshTokenParsed</label>
            <pre>{{authinfo.refreshTokenParsed | json}}</pre>
        </div>
    </div>

</div>
