
<div class="container">
    <div class="row justify-content-start">
        <div class="col-md-6">
            <label class="control-label">Sending request to /helathinfo/api/v1/weight/ using access_token</label><br>

            <label class="control-label">Got {{weights.length}} elements.</label>

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Weight</th>
                        <th>When</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="weightItem in weights track by weightItem.id">
                        <td>{{weightItem.value}}</td>
                        <td>{{weightItem.when}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
